<div class="container">
  <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Vendas
            </div>
            <div class="card-body">
              <h5 class="card-title">Clientes</h5>
              <p> Dúvidas a respeito de como cadastrar clientes? Clique <a href="#"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="clientes" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>
  
        <div class="col mt-2">
          <div class="card">
            <div class="card-header">
              Estoque
            </div>
            <div class="card-body">
              <h5 class="card-title">Produtos</h5>
              <p> Dúvidas a respeito de como cadastrar produtos? Clique <a href="#"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="produtos" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>

        <div class="col mt-2">
          <div class="card">
            <div class="card-header">
              Compras
            </div>
            <div class="card-body">
              <h5 class="card-title">Fornecedores</h5>
              <p> Dúvidas a respeito de como cadastrar fornecedores? Clique <a href="#"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="fornecedores" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Vendas
            </div>
            <div class="card-body">
              <h5 class="card-title">Vendedores</h5>
              <p> Dúvidas a respeito de como cadastrar vendedores? Clique <a href="#"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="vendedores" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>

        <div class="col mt-2">
          <div class="card">
            <div class="card-header">
              Estoque
            </div>
            <div class="card-body">
              <h5 class="card-title">Locais de Armazenamento</h5>
              <p> Dúvidas a respeito de como cadastrar locais de armazenamento? Clique <a href="#"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="armazem" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>

        <div class="col mt-2">
          <div class="card">
            <div class="card-header">
              Compras
            </div>
            <div class="card-body">
              <h5 class="card-title">Solicitantes</h5>
              <p> Dúvidas a respeito de como cadastrar solicitantes? Clique <a href="duvidas"> aqui! </a></p>
              <button class="btn btn-primary  col-md-3 me-1"> Cadastrar </button>
              <a href="solicitantes" class="btn btn-secondary col-md-3 me-1"> Listar </a>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
