<div class="bd-example-snippet bd-code-snippet"><div class="bd-example text-center">
  <table class="table table-hover w-75 ms-5">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Inscriçao Federal</th>
      <th scope="col">Status</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes">
    <tr class="table-light">
      <th scope="col">{{cliente.cdcliente}}</th>
      <th scope="col">{{cliente.nome}}</th>
      <th scope="col">{{cliente.tipo}}</th>
      <th scope="col">{{cliente.inscfed}}</th>
      <th scope="col">{{cliente.status}}</th>
      <th scope="col"> <button id="detalhescliente" class="btn btn-primary"> Detalhes </button> <button id="exclusaocliente" class="btn btn-danger ms-2"> Excluir</button></th>
    </tr>
    </tbody>
  </table>
  </div></div>