<div class="bd-example-snippet bd-code-snippet">
  <div class="bd-example text-start" *ngIf="!selectedFornecedor">
    <table class="table table-hover w-75 ms-5" *ngIf="fornecedores.length != 0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
          <th scope="col">Inscriçao Federal</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let fornecedor of fornecedores">
        <tr class="table-light" (click)="selecionarFornecedor(fornecedor)">
          <th scope="col">{{fornecedor.cdfornecedor}}</th>
          <th scope="col">{{fornecedor.nome}}</th>
          <th scope="col">{{fornecedor.tipo}}</th>
          <th scope="col">{{fornecedor.inscfed}}</th>
          <th scope="col">{{fornecedor.status}}</th>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover w-75 ms-5" *ngIf="fornecedores.length == 0">
      <tr>
        Não há fornecedores cadastrados
      </tr>
    </table>
  </div>

  <div class="bd-example" *ngIf="selectedFornecedor">
    <div class="container text-start">
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <button class="btn btn-warning" (click)="voltar()"> Voltar </button>
          <h4 class="mt-4"> Dados do fornecedor </h4>
          <form class="needs-validation mt-3" novalidate="">
            <div class="row g-3">
              <div class="col-sm-2">
                <label for="cdfornecedor" class="form-label">Código</label>
                <input type="text" class="form-control" id="cdfornecedor" placeholder="" value={{selectedFornecedor.cdfornecedor}} required="" readonly="true">
                <div class="invalid-feedback">
                  Código do fornecedor é obrigatório!
                </div>
              </div>

              <div class="col-sm-2">
                <label for="incsfornecedor" class="form-label">CPF</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control" id="incsfornecedor" required="" value="{{selectedFornecedor.inscfed}}">
                </div>
              </div>
    
              <div class="col-sm-8">
                <label for="descfornecedor" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descfornecedor" placeholder="" value="{{selectedFornecedor.nome}}" required="">
                <div class="invalid-feedback">
                  Nome do fornecedor não pode ficar em branco!
                </div>
              </div>

              <div class="col-sm-2">
                <label for="fornecedorstatus" class="form-label">Status</label>
                <select class="form-select" id="fornecedortatus" required="">
                  <option> - </option>
                  <option> Ativo </option>
                  <option>Inativo</option>
                  <option>Bloqueado</option>
                </select>
              </div>

              <div class="col-sm-3">
                <label for="fornecedortipo" class="form-label">Tipo</label>
                <select class="form-select" id="fornecedortipo" required="">
                  <option value=""> - </option>
                  <option>Consumidor</option>
                  <option>Revendedor</option>
                </select>
              </div>
    
              <div class="col-sm-3">
                <label for="fornecedordatanasc" class="form-label">Data de Nascimento</label>
                <div class="input-group has-validation">
                  <input type="date" class="form-control" id="fornecedordatanasc" value="{{selectedFornecedor.datanasc}}" required="">
                </div>
              </div>
    
              <div class="col-sm-4">
                <label for="fornecedoremail" class="form-label">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="fornecedoremail" value="{{selectedFornecedor.email}}">
              </div>
              <div class="col-9">
                <label for="fornecedorend" class="form-label">Endereço <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="fornecedorend" value="{{selectedFornecedor.endereco}}">
              </div>
              <div class="col-3">
                <label for="fornecedortel" class="form-label">Telefone <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="fornecedortel" value="{{selectedFornecedor.telefone}}">
              </div>

            </div>
    
            <hr class="my-4">
    
            <h4 class="mb-3">Observações</h4>
            <div class="form-group">
              <textarea class="form-control" id="vendaobservacoes" rows="3"></textarea>
            </div>
    
            <hr class="my-4">
          </form>
          <div class="text-center">
            <button class="btn btn-success col-md-2 me-1"> Salvar </button>
            <button class="btn btn-danger col-md-2 me-1"> Excluir </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>