<div class="bd-example-snippet bd-code-snippet"><div class="bd-example text-center">
  <table class="table table-hover w-75 ms-5">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Superior</th>
      <th scope="col">Inscriçao Federal</th>
      <th scope="col">Status</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody *ngFor="let vendedor of vendedores">
    <tr class="table-light">
      <th scope="col">{{vendedor.cdvendedor}}</th>
      <th scope="col">{{vendedor.nome}}</th>
      <th scope="col">{{vendedor.superior}}</th>
      <th scope="col">{{vendedor.inscfed}}</th>
      <th scope="col">{{vendedor.status}}</th>
      <th scope="col"> <button id="detalhesvendedor" class="btn btn-primary"> Detalhes </button> <button id="exclusaovendedor" class="btn btn-danger ms-2"> Excluir</button></th>
    </tr>
    </tbody>
  </table>
  </div></div>