<div class="bd-example-snippet bd-code-snippet">
  <div class="bd-example text-start" *ngIf="!selectedVendedor">
    <table class="table table-hover w-75 ms-5" *ngIf="vendedores.length != 0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Superior</th>
          <th scope="col">Inscriçao Federal</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let vendedor of vendedores">
        <tr class="table-light" (click)="selecionarVendededor(vendedor)">
          <th scope="col">{{vendedor.cdvendedor}}</th>
          <th scope="col">{{vendedor.nome}}</th>
          <th scope="col">{{vendedor.superior}}</th>
          <th scope="col">{{vendedor.inscfed}}</th>
          <th scope="col">{{vendedor.status}}</th>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover w-75 ms-5" *ngIf="vendedores.length == 0">
      <tr>
        Não há vendedores cadastrados
      </tr>
    </table>
  </div>

  <div class="bd-example" *ngIf="selectedVendedor">
    <div class="container text-start">
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          <button class="btn btn-warning" (click)="voltar()"> Voltar </button>
          <h4 class="mt-4"> Dados do Vendedor </h4>
          <form class="needs-validation mt-3" novalidate="">
            <div class="row g-3">
              <div class="col-sm-2">
                <label for="cdvendedor" class="form-label">Código</label>
                <input type="text" class="form-control" id="cdvendedor" placeholder="" value={{selectedVendedor.cdvendedor}} required="" readonly="true">
                <div class="invalid-feedback">
                  Código do Vendedor é obrigatório!
                </div>
              </div>

              <div class="col-sm-2">
                <label for="incsvendedor" class="form-label">CPF</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control" id="incsvendedor" required="" value="{{selectedVendedor.inscfed}}">
                </div>
              </div>
    
              <div class="col-sm-8">
                <label for="descVendedor" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descVendedor" placeholder="" value="{{selectedVendedor.nome}}" required="">
                <div class="invalid-feedback">
                  Nome do Vendedor não pode ficar em branco!
                </div>
              </div>

              <div class="col-sm-2">
                <label for="Vendedorstatus" class="form-label">Status</label>
                <select class="form-select" id="Vendedortatus" required="">
                  <option> - </option>
                  <option> Ativo </option>
                  <option>Inativo</option>
                  <option>Bloqueado</option>
                </select>
              </div>

              <div class="col-sm-3">
                <label for="Vendedorsuperior" class="form-label">Superior</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="Vendedorsuperior" value="{{selectedVendedor.superior}}" required="">
                </div>
              </div>
    
              <div class="col-sm-3">
                <label for="Vendedordatanasc" class="form-label">Data de Nascimento</label>
                <div class="input-group has-validation">
                  <input type="date" class="form-control" id="Vendedordatanasc" value="{{selectedVendedor.datanasc}}" required="">
                </div>
              </div>
    
              <div class="col-sm-4">
                <label for="Vendedoremail" class="form-label">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="Vendedoremail" value="{{selectedVendedor.email}}">
              </div>
              <div class="col-9">
                <label for="Vendedorend" class="form-label">Endereço <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="Vendedorend" value="{{selectedVendedor.endereco}}">
              </div>
              <div class="col-3">
                <label for="Vendedortel" class="form-label">Telefone <span class="text-muted"></span></label>
                <input type="text" class="form-control" id="Vendedortel" value="{{selectedVendedor.telefone}}">
              </div>

            </div>
    
            <hr class="my-4">
    
            <h4 class="mb-3">Observações</h4>
            <div class="form-group">
              <textarea class="form-control" id="vendaobservacoes" rows="3"></textarea>
            </div>
    
            <hr class="my-4">
          </form>
          <div class="text-center">
            <button class="btn btn-success col-md-2 me-1"> Salvar </button>
            <button class="btn btn-danger col-md-2 me-1"> Excluir </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>