<div class="container">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Itens</span>
        <span class="badge bg-primary rounded-pill">{{qtdItens}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let produto of itens">
          <div>
            <h6 class="my-0">{{produto.descricao}}</h6>
            <small class="text-muted">Quantidade: {{produto.qtd}}</small>
          </div>
          <span class="text-muted">Valor: R${{produto.precoUn*produto.qtd}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>R${{totalItens}}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Código do Produto">
          <button type="submit" class="btn btn-secondary">Adicionar</button>
        </div>
      </form>
    </div>

    <div class="col-md-7 col-lg-8">
      <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <label for="tipopesquisa" class="form-label">Pesquisar por:</label>
          <div class="col-sm-2">
            <select class="form-select" id="tipopesquisa" required="">
              <option value="">Numero</option>
              <option>Cliente</option>
              <option>Vendedor</option>
              <option>Data</option>
            </select>
          </div>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="conteudopesquisa" value="" required="">
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" id="btnpesquisa" value="" required="">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Dados Básicos</h4>
      <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-sm-2">
            <label for="numvenda" class="form-label">Numero</label>
            <input type="text" class="form-control" id="numvenda" placeholder="" value="" required="" readonly="true">
            <div class="invalid-feedback">
              Numero de venda é obrigatório!
            </div>
          </div>

          <div class="col-sm-2">
            <label for="vendastatus" class="form-label">Status</label>
            <select class="form-select" id="vendastatus" required="">
              <option value="">Aberto</option>
              <option>Fechado</option>
              <option>Cancelado</option>
            </select>
          </div>

          <div class="col-sm-8">
            <label for="cliente" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="cliente" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Cliente não pode ficar em branco!
            </div>
          </div>

          <div class="col-sm-6">
            <label for="vendedor" class="form-label">Vendedor</label>
            <div class="input-group has-validation">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" id="vendedor" required="">
              <div class="invalid-feedback">
                Vendedor não pode ficar em branco!
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <label for="dataabertura" class="form-label">Data de Abertura</label>
            <div class="input-group has-validation">
              <input type="date" class="form-control" id="dataabertura" required="" readonly="true">
            <div class="invalid-feedback">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <label for="datafechamento" class="form-label">Data de Fechamento</label>
            <div class="input-group has-validation">
              <input type="date" class="form-control" id="datafechamento" required="">
            </div>
          </div>

          <div class="col-3">
            <label for="vendafrete" class="form-label">Frete <span class="text-muted"></span></label>
            <input type="text" class="form-control" id="vendafrete">
          </div>
          <div class="col-3">
            <label for="vendaseguro" class="form-label">Seguro <span class="text-muted"></span></label>
            <input type="text" class="form-control" id="vendaseguro">
          </div>
          <div class="col-3">
            <label for="vendadesconto" class="form-label">Desconto <span class="text-muted"></span></label>
            <input type="text" class="form-control" id="vendadesconto">
          </div>

          <div class="col-md-3">
            <label for="vendatotal" class="form-label">Total</label>
            <input type="text" class="form-control" id="vendatotal" required="" readonly="true">
          </div>
        </div>

        <hr class="my-4">

        <h4 class="mb-3">Observações</h4>
        <div class="form-group">
          <textarea class="form-control" id="vendaobservacoes" rows="3"></textarea>
        </div>

        <hr class="my-4">
      </form>
      <div class="text-center">
        <button class="btn btn-primary  col-md-2 me-1"> Novo </button>
        <button class="btn btn-secondary col-md-2 me-1"> Salvar </button>
        <button class="btn btn-success  col-md-2 me-1"> Fechar </button>
        <button class="btn btn-warning col-md-2 me-1"> Cancelar </button>
        <button class="btn btn-danger col-md-2 me-1"> Excluir </button>
      </div>
    </div>
  </div>
</div>